<connectionStrings>
  <remove name="yafnet_fb" />
  <add name="yafnet_fb" connectionString="DataSource=localhost;User=yafuser;Password=yafpassword;
Database=C:\\ReplaceMe\App_Data\yafnet.fdb;Port=3050;Dialect=3;Charset=UTF8;Role=;
Connection lifetime=0;Connection timeout=15;Pooling=True;Packet Size=8192;ServerType=0" providerName="FirebirdSql.Data.FirebirdClient"  />
 
</connectionStrings>
