<connectionStrings>
    <remove name="yafnet" /> 
  <add name="yafnet" connectionString="Old Guids=True;Server=localhost;Database=yafnet;Character Set=utf8;Port=3306;Treat Tiny As Boolean=True;Allow User Variables=True;Default Command Timeout=150;Use Procedure Bodies=False;Pooling=True;Use Compression=False;Use Affected Rows=False;Persist Security Info=False;User Id=user;Password=pass"
       providerName="MySql.Data.MySqlClient" />
</connectionStrings>
