<connectionStrings>
  <remove name="yafnet_my" /> 
  <add name="yafnet_my" connectionString="Old Guids=True;Server=localhost;Database=yafnet2;Character Set=utf8;Port=3306;Treat Tiny As Boolean=True;Allow User Variables=True;Default Command Timeout=150;Check Parameters=True;Pooling=True;Use Compression=False;Use Affected Rows=False;Persist Security Info=False;User Id=youryafuser;Password=youryafpass"
       providerName="MySql.Data.MySqlClient" />
</connectionStrings>
